#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=aria2
GenericName=aria2
Exec=%%PBI_EXEDIR%%/aria2c
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/aria2.png
StartupNotify=true
Categories=Utility;
