#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=KRuler
GenericName=kruler
Exec=%%PBI_EXEDIR%%/kruler
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/kruler.png
StartupNotify=true
Categories=Utility;
