[Desktop Entry]
Value=1.0
Type=Application
Name=Cglame
GenericName=cglame
Exec=%%PBI_EXEDIR%%/cglame
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
