#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Prelude Manager
GenericName=prelude manager
Exec=%%PBI_EXEDIR%%/prelude-manager
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/prelude.png
StartupNotify=true
