#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=otrs
GenericName=otrs
Exec=%%PBI_EXEDIR%%/Cron.sh
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/otrs.png
StartupNotify=true
Categories=Development;
