[Desktop Entry]
Value=1.0
Type=Application
Name=Bangarang
GenericName=bangarang
Exec=%%PBI_EXEDIR%%/bangarang
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
