[Desktop Entry]
Value=1.0
Type=Application
Name=chmsee
GenericName=chmsee
Exec=%%PBI_EXEDIR%%/chmsee
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
