#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Armagetron Stat
GenericName=Armagetron Stat
Exec=%%PBI_EXEDIR%%/armagetronad-stat
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/armagetron.png
StartupNotify=true
Terminal=true
TerminalOptions=
