[Desktop Entry]
Value=1.0
Type=Application
Name=Nxkill
GenericName=nxkill
Exec=%%PBI_EXEDIR%%/nxkill
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/linux-nx-client.png
StartupNotify=true
