#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=zenity
GenericName=zenity
Exec=%%PBI_EXEDIR%%/zenity
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/zenity.png
StartupNotify=true
NoDisplay=true
Categories=Utility;
