#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Open Arena (SMP)
GenericName=Open Arena (SMP)
Exec=%%PBI_EXEDIR%%/openarena-smp
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/openarena.png
StartupNotify=true
Categories=Game;
