#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Open Arena Server
GenericName=Open Arena Server
Exec=%%PBI_EXEDIR%%/openarenaded
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/openarena.png
StartupNotify=true
Terminal=true
TerminalOptions=
Categories=Game;
