#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=VirtualBox
GenericName=VirtualBox
Exec=%%PBI_EXEDIR%%/VBoxSDL
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/virtualbox.png
StartupNotify=true
NoDisplay=true
Categories=Utility;
