#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Emacs
GenericName=Emacs
Exec=%%PBI_EXEDIR%%/emacs
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emacs.png
StartupNotify=true
Categories=System;
