[Desktop Entry]
Value=1.0
Type=Application
Name=Wifimgr
GenericName=wifimgr
Exec=%%PBI_EXEDIR%%/wifimgr
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/wifimgr.png
StartupNotify=true
Categories=Network
