#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=KolourPaint
GenericName=kolourpaint
Exec=%%PBI_EXEDIR%%/kolourpaint
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/kolourpaint.png
StartupNotify=true
