#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Muse
GenericName=Muse
Exec=%%PBI_EXEDIR%%/muse
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/muse.png
StartupNotify=true
Categories=AudioVideo;
