[Desktop Entry]
Value=1.0
Type=Application
Name=Ecarack
GenericName=ecarack
Exec=%%PBI_EXEDIR%%/ecarack
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=AudioVideo
