#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=MSI executable
GenericName=msi executable
Exec=%%PBI_EXEDIR%%/msiexec
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/wine.png
StartupNotify=true
NoDisplay=true
Categories=Development
MimeType=application/x-msiexec
