#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=EXE executable
GenericName=exe executable
Exec=%%PBI_EXEDIR%%/wine
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/wine.png
StartupNotify=true
NoDisplay=true
Categories=Development
MimeType=application/x-wine
