#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Wine File Manager
GenericName=wine file manager
Exec=%%PBI_EXEDIR%%/winefile
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/wine.png
StartupNotify=true
Categories=Development
