#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Bat binary
GenericName=Bat binary
Exec=%%PBI_EXEDIR%%/bat
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/bat.png
StartupNotify=true
NoDisplay=true
Categories=Development;
