[Desktop Entry]
Value=1.0
Type=Application
Name=Bangarangnepomukwriter
GenericName=bangarangnepomukwriter
Exec=%%PBI_EXEDIR%%/bangarangnepomukwriter
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=AudioVideo
