BODY {
	color: #000000;
	background-color: #FFFFFF;
	font-family: Courier New,Courier,monospace;
	font-size: 14px;
	line-height: 16px;
}

TD.main {
	color: #000000;
	text-align: center;
	padding: 5px;
	font-family: Courier New,Courier,monospace;
	font-size: 14px;
	line-height: 16px;
	}
	
TD.left {
	color: #000000;
	text-align: left;
	padding: 0px;
	font-family: Courier New,Courier,monospace;
	font-size: 14px;
	line-height: 16px;
	}
	
TD.right {
	color: #000000;
	text-align: right;
	padding: 0px;
	font-family: Courier New,Courier,monospace;
	font-size: 14px;
	line-height: 16px;
	}

TD.caption {
	color: #000000;
	text-align: center;
	padding: 5px;
	font-family: Courier New,Courier,monospace;
	font-size: 12px;
	line-height: 12px;
	}