BODY {
	color: #ffffff;
	background-color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 13px;
}

A.section {
	color : #ff0000;
	text-decoration : none;
	font-weight: bold;
}

A.subsection {
	color : #ffffff;
	text-decoration : none;
}

A:hover {
	color : #AEAEAE;
	text-decoration : none;
}