[Desktop Entry]
Value=1.0
Type=Application
Name=YammiGrabAndEncode
GenericName=yammiGrabAndEncode
Exec=%%PBI_EXEDIR%%/yammiGrabAndEncode
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
