[Desktop Entry]
Value=1.0
Type=Application
Name=Kmplayer
GenericName=kmplayer
Exec=%%PBI_EXEDIR%%/kmplayer
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=AudioVideo
