#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=KDiff3
GenericName=kdiff3
Exec=%%PBI_EXEDIR%%/kdiff3
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/kdiff3.png
StartupNotify=true
Categories=Office;
