#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=ioUrbanTerror SMP
GenericName=ioUrbanTerror SMP
Exec=%%PBI_EXEDIR%%/ioUrbanTerror-smp
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/iourbanterror.png
StartupNotify=true
