[Desktop Entry]
Value=1.0
Type=Application
Name=Emerald
GenericName=emerald
Exec=%%PBI_EXEDIR%%/emerald
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emerald.png
StartupNotify=true
Categories=Utility
