[Desktop Entry]
Value=1.0
Type=Application
Name=Ike
GenericName=ikea
Exec=%%PBI_EXEDIR%%/ikea
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/ike.png
StartupNotify=true
Categories=Utility
