#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Apache OpenOffice
GenericName=apache openoffice
Exec=%%PBI_EXEDIR%%/sbase
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/openoffice.png
StartupNotify=true
