#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=gtkchtheme
GenericName=gtkchtheme
Exec=%%PBI_EXEDIR%%/gtk-chtheme
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
