#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=TightVNC 
GenericName=TightVNC 
Exec=%%PBI_EXEDIR%%/Xvnc
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/tightvnc.png
StartupNotify=true
NoDisplay=true
Categories=Network;
