#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Wine
GenericName=wine
Exec=%%PBI_EXEDIR%%/wine
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/wine.png
Categories=System
MimeType=application/x-wine
StartupNotify=true
NoDisplay=true
