[Desktop Entry]
Value=1.0
Type=Application
Name=Soundkonverter
GenericName=soundkonverter
Exec=%%PBI_EXEDIR%%/soundkonverter
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
