[Desktop Entry]
Value=1.0
Type=Application
Name=Wbar
GenericName=wbar
Exec=%%PBI_EXEDIR%%/wbar
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/wbar.png
StartupNotify=true
Categories=Utility
