#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=BasKet
GenericName=BasKet
Exec=%%PBI_EXEDIR%%/basket
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/basket.png
StartupNotify=true
