#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Freevo
GenericName=freevo
Exec=%%PBI_EXEDIR%%/freevo
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/freevo.png
StartupNotify=true
Categories=AudioVideo;
