[Desktop Entry]
Value=1.0
Type=Application
Name=moonshine
GenericName=moonshine
Exec=%%PBI_EXEDIR%%/moonshine
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
