#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Apache Openoffice - smath
GenericName=apache openoffice - smath
Exec=%%PBI_EXEDIR%%/smath
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/openoffice.png
StartupNotify=true
Categories=Office;
NoDisplay=true
MimeType=application/x-smath
