[Desktop Entry]
Value=1.0
Type=Application
Name=Launchy
GenericName=launchy
Exec=%%PBI_EXEDIR%%/launchy
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/launchy.png
StartupNotify=true
Categories=Utility
