[Desktop Entry]
Value=1.0
Type=Application
Name=glife
GenericName=glife
Exec=%%PBI_EXEDIR%%/glife
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Game
