#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=KuickShow
GenericName=kuickshow
Exec=%%PBI_EXEDIR%%/kuickshow
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/kuickshow.png
StartupNotify=true
Categories=Graphics;
