#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=KRename
GenericName=krename
Exec=%%PBI_EXEDIR%%/krename
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/krename.png
StartupNotify=true
