#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Doom3
GenericName=Doom3
Exec=%%PBI_EXEDIR%%/linux-doom3
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/doom3.png
StartupNotify=true
Categories=Game;
