#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Lynis
GenericName=Lynis
Exec=%%PBI_EXEDIR%%/lynis
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/lynis.png
StartupNotify=true
NoDisplay=true
Categories=Graphics;
