#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=The Wake On LAN client
GenericName=The Wake On LAN client
Exec=%%PBI_EXEDIR%%/gwol
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/wol.png
StartupNotify=false
Categories=Utility;
