#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Apache Openoffice - sdraw
GenericName=apache openoffice - sdraw
Exec=%%PBI_EXEDIR%%/sdraw
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/openoffice.png
StartupNotify=true
Categories=Office;
NoDisplay=true
MimeType=application/x-sdraw
