#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=pgpin
GenericName=pgpin
Exec=%%PBI_EXEDIR%%/pgpin
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/pgpin.png
StartupNotify=true
NoDisplay=true
Categories=Utility;
