#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Amanda-client
GenericName=Amanda-client
Exec=%%PBI_EXEDIR%%/amarchiver
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/amanda.png
StartupNotify=true
NoDisplay=true
Terminal=true
TerminalOptions=
Categories=Utility;
