#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=K3B
GenericName=K3B
Exec=%%PBI_EXEDIR%%/k3b
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/k3b.png
StartupNotify=true
Categories=AudioVideo;
