[Desktop Entry]
Value=1.0
Type=Application
Name=Kplayer
GenericName=kplayer
Exec=%%PBI_EXEDIR%%/kplayer
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
