#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Konversation
GenericName=Konversation
Exec=%%PBI_EXEDIR%%/konversation
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/konversation.png
StartupNotify=true
