#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=KBackup
GenericName=KBackup
Exec=%%PBI_EXEDIR%%/kbackup
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/icons/hicolor/32x32/apps/kbackup.png
StartupNotify=true
