[Desktop Entry]
Value=1.0
Type=Application
Name=Kstreamripper
GenericName=kstreamripper
Exec=%%PBI_EXEDIR%%/kstreamripper
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
