#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Bitlebee Script
GenericName=Bitlebee Script
Exec=%%PBI_EXEDIR%%/bitlbee
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/bitlbee.png
StartupNotify=true
NoDisplay=true
Categories=Network;
