#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=MediaTomb
GenericName=mediatomb
Exec=%%PBI_EXEDIR%%/mediatomb
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/mediatomb.png
StartupNotify=true
