#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Recover
GenericName=Recover
Exec=%%PBI_EXEDIR%%/photorec
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/testdisk.png
StartupNotify=true
NoDisplay=true
Categories=Utility;
