#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Minecraft-Server
GenericName=minecraft-server
Exec=%%PBI_EXEDIR%%/minecraft-server.sh
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/minecraft-icon.png
StartupNotify=true
Categories=Game;
