#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Apache Openoffice - scalc
GenericName=apache openoffice - scalc
Exec=%%PBI_EXEDIR%%/scalc
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/openoffice.png
StartupNotify=true
Categories=Office;
NoDisplay=true
MimeType=application/x-scalc
