[Desktop Entry]
Value=1.0
Type=Application
Name=Canberra-gtk-play
GenericName=canberra-gtk-play
Exec=%%PBI_EXEDIR%%/canberra-gtk-play
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=AudioVideo
