#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=John the Ripper password cracker
GenericName=John the Ripper password cracker
Exec=%%PBI_EXEDIR%%/john
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/john.png
StartupNotify=true
Terminal=true
TerminalOptions=
