#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Task Juggler
GenericName=Task Juggler
Exec=%%PBI_EXEDIR%%/TaskJugglerUI
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/task.png
StartupNotify=true
Categories=Utility;
