#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=TightVNC Server 
GenericName=TightVNC Server 
Exec=%%PBI_EXEDIR%%/vncserver
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/tightvnc.png
StartupNotify=true
NoDisplay=true
Categories=Network;
