#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=BubBros
GenericName=BubBros
Exec=%%PBI_EXEDIR%%/bubbros
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/bubbros.png
StartupNotify=true
