#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=ZNC
GenericName=znc
Exec=%%PBI_EXEDIR%%/znc
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/znc.png
StartupNotify=true
Terminal=true
Categories=Network;
