#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=KTorrent
GenericName=KTorrent
Exec=%%PBI_EXEDIR%%/ktorrent
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/ktorrent.png
StartupNotify=true
