#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Apache Openoffice - simpress
GenericName=apache openoffice - simpress
Exec=%%PBI_EXEDIR%%/simpress
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/openoffice.png
StartupNotify=true
Categories=Office;
NoDisplay=true
MimeType=application/x-simpress
